<%= form_for(@idea) do |f| %>
  <%= render "shared/errors", object: @idea %>
  <fieldset>
    <ol>
      <div class="form-group">
      <%= f.text_field :title, :placeholder => "Title" %></br>

      <%= f.text_field :description, :placeholder => "Synopsis", :rows => 10   %><br>
      <%= f.submit "Submit", class: "btn btn-primary" %>

      <% if current_user.admin? %>
      <p class="bg-warning">
      <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
      </p>
      <% end %>

      </div>
    </ol>
  </fieldset>
<% end %>



