
<header id="page-header">
  <div id="masthead">
    <h4><%= link_to "Ideas", root_path %></h4>
    <nav>
      <p>
      <% if current_user %>
        <%= link_to current_user.username, current_user %>
        <%= link_to "Log Out", logout_path, method: :delete, class: "button" %> 
      <% else %> 
        <%= link_to "Log In", login_path %>
        <%= link_to "Sign Up", signup_path %>
      <% end %>
      </p>
    </nav>
  </div>
</header>
